body {
    color:#444;
    font:normal 62.5% Tahoma,sans-serif;
}

#notfound {
  position: relative;
  height: 100vh;
  background: url(../img/error.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#notfound .notfound {
  position: absolute;
  left: 70%;
  top: 50%;
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.notfound h1 {
  font-size: 86px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: #151515;
}

.notfound h2 {
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  color: #151515;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #777;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}
